<!DOCTYPE html>
<html>
  <head>
    <!-- Title describing the purpose of the page -->
    <title>Account Security - Change Password</title>
    <!-- Include Tailwind CSS for styling -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <!-- CSRF token for security -->
    <meta name="csrf-token" content="<%= csrfToken %>" />
  </head>
  <body class="bg-gray-100 flex items-center justify-center h-screen">
    <!-- Password change form -->
    <div class="bg-white p-8 rounded shadow-md max-w-md w-full">
      <h2 class="text-2xl font-semibold mb-4">Change Password</h2>
      <!-- Form for changing password -->
      <form action="/changepassword" method="post">
        <!-- CSRF token input -->
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <!-- Current Password input -->
        <div class="mb-4">
          <label for="currentPassword" class="block text-gray-700"
            >Current Password</label
          >
          <input
            type="password"
            id="currentPassword"
            name="currentPassword"
            required
            class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-green-500"
          />
        </div>
        <!-- New Password input -->
        <div class="mb-4">
          <label for="newPassword" class="block text-gray-700"
            >New Password</label
          >
          <input
            type="password"
            id="newPassword"
            name="newPassword"
            required
            class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-green-500"
          />
        </div>
        <!-- Confirm Password input -->
        <div class="mb-6">
          <label for="confirmPassword" class="block text-gray-700"
            >Confirm Password</label
          >
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            required
            class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-green-500"
          />
        </div>
        <!-- Submit button -->
        <div class="flex items-center justify-between">
          <button
            type="submit"
            class="text-white bg-green-500 hover:bg-green-800 font-medium rounded px-5 py-2"
          >
            Change Password
          </button>
        </div>
      </form>
      <!-- Include notification messages -->
      <%- include("notifications.ejs") %>
    </div>
  </body>
</html>
