<!DOCTYPE html>
<html>
  <head>
    <!-- Include Tailwind CSS stylesheet -->
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <!-- Title and Description -->
    <title>Student Progress</title>
  </head>

  <body>
    <!-- Navigation Bar -->
    <div class="navbar bg-gray-900 text-white p-4 mb-4">
      <div class="container mx-auto flex justify-between items-center">
        <div class="flex items-center">
          <!-- Logo -->
          <div class="navbar-logo">
            <img
              src="https://img.freepik.com/free-vector/school-education-logo-template_23-2149713051.jpg?w=740&t=st=1707238791~exp=1707239391~hmac=47a76b893ed86a6fb26db168c3d474bf17a29d0e1cd67bdd578f6b82f25f05cb"
              alt="Logo"
              class="max-h-10"
            />
          </div>
        </div>
        <!-- Navigation Links -->
        <div class="flex space-x-8">
          <a href="/show" class="text-white">Home</a>
          <a href="/about" class="text-white">About</a>
          <a href="/contact" class="text-white">Contact</a>
          <a href="/mycourses/<%=a%>" class="text-white">My Courses</a>
        </div>
      </div>
    </div>

    <!-- Main Content -->
    <div class="flex justify-center items-center h-screen">
      <!-- Image -->
      <div>
        <img
          src="https://img.freepik.com/free-vector/climbing-stairs-concept-illustration_114360-7717.jpg?w=740&t=st=1707239666~exp=1707240266~hmac=cbe66155a711690f166e53268edc2aadebb689535df35d3d7b2bfeef62467679"
          alt="progress"
        />
      </div>

      <!-- Progress Bar -->
      <div class="w-1/2 bg-blue-200 h-10 relative">
        <div
          class="absolute inset-0 bg-green-500"
          style="width: <%= progressPercentage %>%"
        ></div>
        <div
          class="absolute inset-0 flex items-center justify-center text-white font-bold"
        >
          <%= progressPercentage %> %
        </div>
      </div>
    </div>
  </body>
</html>
